@page "/sucesso/{playerId}"
@rendermode InteractiveWebAssembly

<div>Account created successfully! Your game ID is the one you have just used to register!</div>
<div>Student number registered: @playerId</div>
<div>You can close this window.</div>

@code {

    [Parameter]
    public string playerId { get; set; }
}