@page "/sucesso/{playerId}"
@rendermode InteractiveWebAssembly
<div class="header-div-successful">
    <div>Account created successfully!</div>
    <div>Student number registered: @playerId</div>
    <div>You can close this window.</div>
</div> 


@code {

    [Parameter]
    public string playerId { get; set; }
}