@page "/sucesso/{playerId}"
@rendermode InteractiveWebAssembly

<div>Conta criada com sucesso! O seu Id é o número de estudante que usou para registar!</div>
<div>Número de estudante registado: @playerId</div>
<div>Pode fechar a janela.</div>

@code {

    [Parameter]
    public string playerId { get; set; }
}