################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
# Ignore Visual Studio temporary files, build results, and
# common node modules
bin/
obj/
.vs/
*.user
*.suo
*.dbmdl
*.opendb
*.vscode/

# Ignore Debug and Release folders
Debug/
Release/
*.cs.meta
*.meta