@page "/sucesso"
@rendermode InteractiveWebAssembly

<label>Conta criada com sucesso!</label>
<label>O seu Id é o número de estudante que usou!</label>
<label>Pode fechar a janela.</label>

@code {

}
