@page "/"

<PageTitle>Home</PageTitle>

<h1>Bem-vindo ao jogo Misterios Aquaticos!</h1>

Basta usarem o vosso ID de estudante para se registarem e usarem esse ID quando vão começar o jogo! O objectivo é fazerem exercício enquanto jogam! Também têm oportunidade de colecionar créditos que podem ser usados para recompensas no mundo real!
